*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li{
    list-style: none; 
}

.body_outer{
    width: 90%;
    margin: auto;
   
}
.nav_outer{
    width: 100%;
    height:5em;
    display: flex;
}
.nav_inner_left{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_image{
    width: 30%;  
    display: flex;
    align-items: flex-end;      
}

.nav_image img{
    width: 90%;
    height: 90%;    
}
.nav_ul{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_ul li a{
    text-decoration: none;
    color: inherit;
}
.nav_ul li a:hover{
    color: #645cff;
    cursor: pointer;

}


.nav_inner_right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_contact_btn{
    width: 12%;
    height: 2.5em;
    background-color: #645cff;
    border: none;
    color: white;
    border-radius: 3px;
}
.nav_contact_btn a{
    text-decoration: none;
    color: white;
}
.nav_contact_btn a:hover{
    color: lightskyblue;
}

/* section 2 */
.main_img_outer{
    width: 100%;
    height:22em;
}

.main_display_bg_img{
    width: 100%;
    height:20em;
    background-image: linear-gradient(rgba(41, 41, 41, 0.192), rgba(0, 0, 0, 0.329)),url(../amenities/main.jpeg);
    background-repeat: no-repeat;
    background-size:100% ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.main_h1{
    font-size: 3em;
}
.main_p{
    font-size: 1.5em;
}

/* card section */

.card_outer{
    width: 100%;
    height: 32em;
    display: flex;
    
}
.inner_card_menu{
    width: 15%; 
    height: 10em;
}
.card_menu_ol{
    list-style: none;
    
}
.card_menu_ol li{
    list-style: none;
    transition: color 1s;
  
}
.card_menu_ol li:hover{
    color: #645cff;
    cursor: pointer;
}

.inner_cards{
    width: 85%;
    height: 32em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        
    
}
.inner_cards_boxs{
    width: 32%;

}
.inner_cards_boxs:hover{
    cursor: pointer;
}
.inner_cards_boxs img{
    width: 100%;
    height: 10em;
    border-radius: 0.4em;
    background-repeat: no-repeat;
    
}

/* footer */

.footer{
    width: 100%;
    height:3.5em;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #645cff;
}