*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li{
    list-style: none; 
}

.body_outer{
    width: 90%;
    margin: auto;
   
}
.nav_outer{
    width: 100%;
    height:5em;
    display: flex;
}
.nav_inner_left{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_image{
    width: 30%;  
    display: flex;
    align-items: flex-end;      
}

.nav_image img{
    width: 90%;
    height: 90%;    
}
.nav_ul{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_ul li a{
    text-decoration: none;
    color: inherit;
}
.nav_ul li a:hover{
    color: #645cff;
    cursor: pointer;
}


.nav_inner_right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_contact_btn{
    width: 12%;
    height: 2.5em;
    background-color: #645cff;
    border: none;
    color: white;
    border-radius: 3px;
}
.nav_contact_btn a{
    text-decoration: none;
    color: white;
}
.nav_contact_btn a:hover{
    color: skyblue;
}


.main{
    width: 100%;
    height: 30em;
    display: flex;
}

.img_box{
width: 40%;
height: 22em;
display: flex;
justify-content: center;
align-items: center;
}
.img_box img{
    height: 70%;
    width: 80%;
    border-radius: 5px;
}
/* content box */
.content_box{
    width: 60%;
    height: 22em;
}
.content_h1{
    height: 2em;
}
.content_p{
    height: 12em;
}
/* icon and icon text sextion */
.icon_box{
    display: flex; 
    width: 90%;
    justify-content: space-around;    

}

.icon_box img{
     width: 20%;
    

}
.img_box_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-direction: column;
}
.icon_text{
    text-align: center;
    font-size: 0.8em;
}

/* tag box section */
.tags_box{
    display: flex;
    width: 55% ;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    
}
.tag_btn{
    background-color: #645cff;
    height: 1.6em;
    padding: 0.1em;
    border: none;
    border-radius: 3px;
    width: 6em;
    color: white;
}   

/* 2nd Content section */
.main1{
    width: 100%;
    height: 35em;
    display: flex;
}
.c_box_left{
    width: 65%;
   
}
.c_box_right{
    width: 35%;
}
.box_steps{
    width: 100%;
    
    
}
.box_steps span,hr{
    line-height: 4;
}

.hr{  
   width: 80%;    
   transform: translate(13% , -30px);
   
}
.c_r_p{
    height: 3.5em;
    border-bottom: 1px solid gray;
    line-height: 4;
}
.ingredents{
    height: 15em;
}
/* footer */

.footer{
    width: 100%;
    height:3.5em;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #645cff;
    font-weight: 900;
}